<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редагувати</title>
    <link rel="stylesheet" th:href="@{/css/editCreate.css}">
</head>
<body>
<div align="center">

    <h1>Редагувати</h1>
    <br/>
    <form th:action="@{/save}"  method="post">
        <div class="formCreate">
            <table>
                <tr>
                    <td>
                        <input type="hidden" readonly="readonly" th:field="*{thing.id}">
                        <table>
                            <tr>
                                <td>Назва</td>
                                <td>
                                    <input type="text" th:field="*{thing.name}">
                                </td>
                            </tr>
                            <tr>
                                <td>Тип</td>
                                <td>
                                    <select th:field="*{thing.type}" id="type" onChange="onstatechange(this)" class="infobox">
                                        <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.type}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Категорія</td>
                                <td>
                                    <select th:field="*{thing.category}">
                                        <option th:value="'1'" th:text="1"></option>
                                        <option th:value="'2'" th:text="2"></option>
                                        <option th:value="'3'" th:text="3"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Стан</td>
                                <td>
                                    <select th:field="*{thing.state}" id="state" onChange="onstatechange(this)" class="infobox">
                                        <option th:each="state : ${states}" th:value="${state.id}" th:text="${state.state}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Ціна(грн)</td>
                                <td>
                                    <input type="text" th:field="*{thing.price}">
                                </td>
                            </tr>
                            <!--                <tr>-->
                            <!--                    <td>Вкладений</td>-->
                            <!--                    <td>-->
                            <!--                        <input class="checkbox" type="checkbox" name="mycheckbox" th:checked="*{thing.isCompletType}"/>-->
                            <!--                        <button class="button" id="addnew">Додати</button>-->
                            <!--                    </td>-->
                            <!--                </tr>-->

                        </table>
                    </td>
                    <td id="tdTable2">
                        <input type="hidden" readonly="readonly" th:field="*{thing.properties.id}">
                        <table class="tableRight">
                            <tr>
                                <td colspan="2">
                                    <label>Характеристика</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Інформація</td>
                                <td>
                                    <input type="text" th:field="*{thing.properties.info}">
                                </td>
                            </tr>
                            <tr >
                                <td>Вага</td>
                                <td>
                                    <input type="text" th:field="*{thing.properties.weight}">
                                </td>
                            </tr>
                            <tr>
                                <td>Довжина</td>
                                <td>
                                    <input type="text" th:field="*{thing.properties.length}">
                                </td>
                            </tr>
                            <tr>
                                <td>Частота</td>
                                <td>
                                    <input type="text" th:field="*{thing.properties.frequency}">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button type="submit">Зберегти</button>
                    </td>
                </tr>
            </table>
        </div>

    </form>
</div>
</body>
</html>
