<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Вхід</title>

  <link rel="stylesheet" th:href="@{/css/login.css}" />

</head>

<body>

<div id="wrapper">
  <h1>Вхід</h1>
  <form th:action="@{/login}" method="post" id="signin" autocomplete="off" >
    <input type="text" id="user" name="username" placeholder="ім'я користувача" />
    <input type="password" id="pass" name="password" placeholder="пароль" />
    <button type="submit">&#xf0da;</button>
    <div th:if="${param.error}">
      <p>Невірні данні для авторизації</p>
    </div>

    <div th:if="${param.logout}">
      <p>Ви успішно вийшли з аккаунту</p>
    </div>
  </form>
</div>

</body>
</html>
